.albums-window{
    position: relative;
    nav{
        position: fixed;
        z-index: 5;
        top: 0;
        height: 90px;
        width: calc(100% - 200px);
        padding: 0 10px;
        left: 200px;
        color: var(--txt-color);
        background-color: var(--bg-color);
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: 0 0 10px var(--translucent-black);
        @media (max-width: 700px) {
            width: calc(100% - 70px);
            left: 70px;
        }
        h1{
            font-size: 1.8em;
        }
    }
    section{
        margin: 15px 0;
        h1{
            cursor: pointer;
            width: fit-content;
            font-size: 1.5em;
            font-weight: 600;
            padding: 0 10px;
            color: var(--txt-color);
            &:hover{
                color: var(--overlay-text-color);
            }
        }
        .album-flex{
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            .div{
                padding: 10px;
                padding-bottom: 10px;
                border-radius: 10px;
                height: 100%;
                transition: .3s;
                overflow: hidden;
                width: 170px;
                max-width: min-content;
                .image_holder{
                    $album-disc: 150px;
                    width: $album-disc;
                    height: $album-disc;
                    border-radius: 10px;
                    overflow: hidden;
                    position: relative;
                    img{
                        width: 100%;
                        height: 100%;
                        transition: .5s;
                    }
                    div{
                        position: absolute;
                        padding: 3px;
                        scale: 1.3;
                        bottom: 5px;
                        left: 5px;
                        align-items: center;
                        justify-content: center;
                        box-shadow: inset 0 0 5px black;
                        border-radius: 50px;
                        background-color: rgba(83, 83, 83, 0.432);
                        color: var(--txt-color);
                        z-index: 1;
                        display: none;
                        &:hover{
                            background-color: black;
                        }
                    }
                }
                h3{
                    transition: .3s;
                    font-size: 0.95em;
                    font-weight: 400;
                    color: var(--txt-color);
                    text-align: left;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    text-wrap: wrap;
                    text-overflow: ellipsis;
                }
                p{
                    color: var(--album-txt);
                }
                &:hover{
                    background-color: var(--album-card);
                    box-shadow: 0 0 5px var(--album-card-shadow);
                    .image_holder{
                        img{
                            scale: 1.2;
                        }
                        div{
                            display: flex;
                        }
                    }
                    h3{
                        color: var(--album-header);
                    }
                    p{
                        color: var(--txt-color);
                    }
                }
            }
        }
    }
    .album-overlay{
        background-color: var(--now-playing-bg);
        position: fixed;
        top: 20px;
        left: 200px;
        width: calc(100% - 150px);
        height: 100%;
        overflow-y: scroll;
        scroll-behavior: smooth;
        transition: .3s;
        @media (max-width: 700px) {
            width: calc(100% - 50px);
            left: 70px;
        }
        h1{
            margin: 20px;
        }
        div{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            row-gap: 10px;
            a{
                text-align: center;
                margin: 0 40px;
                font-size: 1.5em;
                text-decoration: none;
                color: var(--overlay-text);
            }
            .open{
                cursor: pointer;
                border-radius: 5px;
                &:hover{
                    background-color: var(--song-list-bg);
                }
            }
            .closed{
                color: var(--song-list-bg);
            }
        }
    }
}