.context-menu{
    position: absolute;
    z-index: 11;
    border: 1px solid black;
    border-radius: 5px;
    top: 0;
    // overflow: hidden;
    width: 130px;
    height: min-content;
    background-color: transparent;
    backdrop-filter: blur(10px);
    background-image: linear-gradient(120deg,#fff3,#0002);
    background-size: 5px;
    .labels{
        h2{
            font-weight: 300;
            cursor: default;
            padding: 2px;
            font-size: 1.3em;
            color: var(--primary-text-color);
            position: relative;
            &:hover{
                background-color: #999;
                .submenu{
                    display: block;
                }
            }
            .submenu{
                position: absolute;
                top: 0;
                right: -130px;
                z-index: 11;
                border: 1px solid black;
                border-radius: 5px;
                top: 0;
                width: 130px;
                height: min-content;
                background-color: transparent;
                backdrop-filter: blur(3px);
                background-image: linear-gradient(120deg,#fff9,#0009);
                display: none;
                h2{
                    font-weight: 300;
                    font-size: 1em;
                }
            }
        }
    }
}
.start-context{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.end-context{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}