.light{
    --songlist-bg: #ddd;
    --songlist-text-hover: #00f8;
    --songlist-bg-hover: #bbb;
    --songlist-bg-even: #0003;
    --current-song-color: #f70;
}
.dark{
    --songlist-bg: #555;
    --songlist-text-hover: #00f8;
    --songlist-bg-hover: #777;
    --songlist-bg-even: #fff1;
    --current-song-color: #ff0;
}
.song{
    background-color: var(--songlist-bg);
    display: grid;
    grid-template-columns: 20px 1fr 1fr 1fr auto;
    margin: 5px;
    gap: 20px;
    padding: 10px;
    border-radius: 5px;
    transition: .2s ease-in;
    align-items: center;
    width: 100%;
    .icon{
        cursor: pointer;
        scale: 1.2;
    }
    h3,a{
        font-size: 1em;
        line-clamp: 2;
        font-weight: lighter;
        cursor: default;
        color: var(--primary-text-color);
        text-wrap: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .link{
        transition: .1s ease-out;
        cursor: pointer;
        &:hover{
            font-weight: 600;
            color: var(--current-song-color);
        }
    }
    &:hover{
        background-color: var(--songlist-bg-hover);
    }
}
.song:nth-child(2n){
    background-color: transparent;
    border: 1px solid var(--songlist-bg-even);
    &:hover{
        background-color: var(--songlist-bg-hover);
    }
}
.currentSong{
    h3, a{
        color: var(--current-song-color);
        font-weight: 400;
    }
}