.song{
    background-color: #555;
    display: grid;
    grid-template-columns: 20px 1fr 1fr 1fr auto;
    margin: 5px;
    gap: 5px;
    padding: 5px;
    border-radius: 5px;
    transition: .2s ease-in;
    .icon{
        cursor: pointer;
    }
    h3{
        font-size: 1em;
        line-clamp: 2;
        font-weight: 400;
        text-wrap: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: default;
    }
    &:hover{
        background-color: #777;
    }
}
.song:nth-child(2n){
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.1);
    &:hover{
        background-color: #777;
    }
}