.light{
    --right-bg-color: #eee5;
    --music-player-bg-color: #fff;
    --navbar-bg-color: #fff;
    --navbar-shadow: #0002;
    --primary-button-bg-color: #ddd;
    --primary-text-color: #000;
    --primary-button-bg-hover: #aaa;
    --singles-nav-bg: #fff1;
    --singles-nav-image-shadow: #000;
    --music-player-shadow: #0005;
    --sidebar-link-color: #f70;
}
.dark{
    --right-bg-color: #444;
    --music-player-bg-color: #333;
    --navbar-bg-color: #333;
    --navbar-shadow: #0005;
    --primary-button-bg-color: #555;
    --primary-text-color: #fff;
    --primary-button-bg-hover: #aaa9;
    --singles-nav-bg: #fff1;
    --singles-nav-image-shadow: #000;
    --music-player-shadow: #0003;
    --sidebar-link-color: #ff0;
}
.context-overlay{
    background-color: #0001;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 22;
}
.main{
    display: grid;
    grid-template-rows: calc(100vh - 100px) 100px;
    .left__{
        position: fixed;
        z-index: 20;
        top: 0;
        left: 0;
        height: calc(100% - 100px);
        width: 200px;
        &::-webkit-scrollbar{
            display: none;
        }
    }
    .right__{
        position: fixed;
        width: calc(100vw - 200px);
        margin-left: 200px;
        background-color: var(--right-bg-color);
        height: calc(100% - 100px);
        z-index: 21;
    }
    .bottom__{
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 100px;
        background-color: var(--music-player-bg-color);
        z-index: 21;
        box-shadow: 0 -5px 5px var(--music-player-shadow);
    }
}
.view{
    width: 100%;
    height: calc(100% - 15vh);
    overflow-y: scroll;
    overflow-x: hidden;
    top: 15vh;
    padding-bottom: 10px;
    position: relative;
    scroll-behavior: smooth;
    &::-webkit-scrollbar-thumb {
        background-color: grey;
        border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb:hover {
        background-color: grey;
        cursor: pointer;
    }
    &::-webkit-scrollbar {
        width: 5px;
        display: block;
    }
    &::-webkit-scrollbar-track {
        background-color: transparent;
        border-radius: 10px;
    }
}
nav{
    height: 15vh;
    padding: 10px;
    box-shadow: 0 5px 5px var(--navbar-shadow);
    color: var(--primary-text-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    position: fixed;
    background-color: var(--navbar-bg-color);
    width: calc(100vw - 200px);
    .nav-left{
        h1{
            font-size: 1.6em;
        }
    }
    .nav-right{
        display: flex;
        gap: 5px;
        button{
            padding: 5px;
            border: 1px solid gray;
            border-radius: 5px;
            background-color: var(--primary-button-bg-color);
            color: var(--primary-text-color);
            cursor: pointer;
            transition: .3s ease-in;
            &:hover{
                background-color: var(--primary-button-bg-hover);
            }
        }
    }
}
.singles-nav{
    height: 200px;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    display: grid;
    grid-template-columns: 180px auto;
    gap: 20px;
    overflow: hidden;
    background-color: var(--single-nav-bg);
    box-shadow: inset 0 0 20px var(--primary-button-bg-hover);
    .singles-image{
        height: 100%;
        border-radius: 5px;
        overflow:hidden;
        box-shadow: 0 0 5px var(--singles-nav-image-shadow);
        img{
            height: 100%;
            width: 180px;
        }
    }
    .circle{
        border-radius: 50%;
    }
    .singles-info{
        color: var(--primary-text-color);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px 0;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        text-wrap: nowrap;
        h1{
            font-size: 2em;
            overflow: hidden;
            text-overflow: ellipsis;
            text-wrap: nowrap;
        }
        h2{
            font-size: 1.5em;
            font-weight: 400;
        }
        .h2{
            display: flex;
            gap: 10px;
            li{
                list-style-type: none;
                font-size: 1.5em;
            }
        }
        .others{
            font-size: 1.2em;
            opacity: .6;
            display: flex;
            gap: 30px;
            li, h4{
                font-weight: lighter;
                list-style-type:none;
            }
        }
        .buttons{
            display: flex;
            gap: 5px;
            button{
                padding: 5px;
                border-radius: 5px;
                border: none;
                font-size: .9em;
                background-color: var(--sidebar-link-color);
                color: black;
            }
        }
    }
}
@media (max-width: 700px) {
    $sidebar-width: 55px;
    .main{
        .left__{
            width: $sidebar-width;
        }
        .right__{
            width: calc(100vw - $sidebar-width);
            margin-left: $sidebar-width;
        }
    }
    nav{
        width: calc(100vw - $sidebar-width);
    }
}