.dynamic-page{
    .album{
        color: var(--primary-text-color);
        overflow-y: scroll;
        section{
            padding: 5px;
            .cards{
                display: flex;
                gap: 5px;
                flex-wrap: wrap;
                width: 100%;
            }
        }
    }
}