.overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--now-playing-overlay);
  width: 100%;
  height: 100%;
  z-index: 9;
  transition: 1s;
  display: none;
}

.now-playing {
  position: fixed;
  top: 0;
  background-color: var(--bg-color);
  height: 100%;
  z-index: 10;
  padding: 0 20px;
  padding-top: 30px;
  color: var(--txt-color);
  transition: 0.5s;
  flex-direction: column;
  grid-template-columns: 350px auto;
  width: 350px;
  right: -500px;
  box-shadow: -5px 0 10px var(--now-playing-shadow);
}
@media (max-width: 950px) {
  .now-playing {
    width: 350px;
    right: -700px;
    grid-template-columns: 150px auto;
  }
}
.now-playing nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.now-playing nav .x_mark {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  width: calc(100% - 20px);
  align-items: center;
  justify-content: space-between;
}
.now-playing nav .x_mark div {
  cursor: pointer;
}
.now-playing nav .x_mark .XMark {
  position: absolute;
  right: 10px;
  top: -5px;
}
.now-playing h3 {
  font-weight: 400;
}
.now-playing .upper {
  overflow: hidden;
}
.now-playing .upper h3, .now-playing .upper p {
  cursor: default;
}
.now-playing .upper .song-title h3 {
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.now-playing .upper .img {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.now-playing .upper .img img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  animation-name: disc-rotate;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.now-playing .upper .img::before {
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  z-index: 20;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--bg-color);
  box-shadow: 0 0 1px 1px var(--txt-color);
}
.now-playing .upper .artist_album {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.now-playing .upper .artist_album h3 {
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1em;
}
.now-playing .upper .artist_album .s_album {
  text-align: right;
}
.now-playing .upper .time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}
.now-playing .upper .time .custom_progress {
  border: 1px solid var(--txt-color);
  height: 8px;
  width: 70%;
  border-radius: 10px;
  position: relative;
}
.now-playing .upper .time .custom_progress .progress_bar {
  background-color: var(--progress-thumb-color);
  height: calc(100% - 2px);
  position: relative;
  top: 1px;
  margin: 0 2px;
  left: -1px;
  border-radius: 10px;
}
.now-playing .upper .time .custom_progress .progress_bar .progress_thumb {
  width: 18px;
  height: 18px;
  background-color: var(--bg-color);
  box-shadow: inset 0 0 0 5px var(--progress-color);
  position: absolute;
  left: calc(100% - 9px);
  top: -7px;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
}
.now-playing .upper .time .custom_progress .progress_bar .progress_thumb:hover {
  box-shadow: inset 0 0 0 3px var(--progress-thumb-color);
}
.now-playing .upper .time #end {
  width: 40px;
}
.now-playing .upper .time-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 5px;
  height: 40px;
}
.now-playing .upper .time-icons img {
  width: 22px;
  cursor: pointer;
}
.now-playing .upper .time-icons .bpf {
  display: flex;
  position: relative;
  top: -3px;
  justify-content: space-around;
  align-items: center;
  width: 130px;
}
.now-playing .upper .time-icons .bpf #plause {
  width: 35px;
  height: 35px;
}
.now-playing .upper .time-icons .sides {
  display: flex;
  position: relative;
  top: -2px;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.now-playing .lower {
  margin-top: 10px;
}
.now-playing .lower h2 {
  font-weight: 400;
  color: var(--txt-color);
}
.now-playing .lower .queue-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.now-playing .lower .queue-list .queue-cell {
  display: grid;
  grid-template-columns: 4fr 1fr;
  overflow: hidden;
  width: 100%;
  transition: 0.2s;
  border-radius: 5px;
  padding: 1px 4px;
}
.now-playing .lower .queue-list .queue-cell .image_name {
  display: flex;
  gap: 5px;
  align-items: center;
}
.now-playing .lower .queue-list .queue-cell .image_name img {
  width: 40px;
  height: 40px;
  border-radius: 5px;
}
.now-playing .lower .queue-list .queue-cell .image_name div {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
}
.now-playing .lower .queue-list .queue-cell .image_name div h4 {
  font-weight: 300;
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}
.now-playing .lower .queue-list .queue-cell .image_name div .artist {
  font-weight: 400;
}
.now-playing .lower .queue-list .queue-cell .time h4 {
  font-weight: lighter;
}
.now-playing .lower .queue-list .queue-cell:hover {
  background-color: var(--translucent-black);
  cursor: pointer;
}
.now-playing .lower .queue-list .highlight {
  background-color: var(--now-playing) !important;
  color: var(--now-playing-color);
}
.now-playing .lyrics_container {
  display: none;
  flex-direction: column;
  color: var(--txt-color);
  padding: 0 20px;
  overflow-y: scroll;
}
.now-playing .lyrics_container::-webkit-scrollbar {
  display: none;
}
.now-playing .lyrics_container .title {
  position: fixed;
  top: 29px;
  background-color: var(--bg-color);
  height: 40px;
  overflow: hidden;
  width: 50%;
}
.now-playing .lyrics_container .title h1 {
  font-size: 1.4em;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.now-playing .lyrics_container .lyrics {
  overflow-y: scroll;
}
.now-playing .lyrics_container .lyrics .lyrics_words {
  margin: 40px 0;
  font-size: 1em;
  line-height: 2em;
  text-align: justify;
}
.now-playing .lyrics_container .lyrics::-webkit-scrollbar {
  display: none;
}

@keyframes disc-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.mini-player {
  display: none;
}

@media (max-width: 400px) {
  body {
    overflow: hidden;
  }
  .lyrics_container .lyrics {
    overflow: hi;
  }
  .mini-player {
    position: fixed;
    z-index: 10;
    background-color: black;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: white;
  }
  .mini-player .mini-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    filter: blur(5px);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }
  .mini-player .mini-window .tools {
    font-size: 0.8em;
    font-weight: 300;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.3);
  }
  .mini-player .mini-window .tools h3 {
    font-size: 1rem;
    font-weight: 400;
  }
  .mini-player .mini-window .tools .time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }
  .mini-player .mini-window .tools .time .custom_progress {
    border: 1px solid var(--txt-color);
    height: 8px;
    width: 70%;
    border-radius: 10px;
    position: relative;
  }
  .mini-player .mini-window .tools .time .custom_progress .progress_bar {
    background-color: var(--progress-thumb-color);
    height: calc(100% - 2px);
    position: relative;
    top: 1px;
    margin: 0 2px;
    left: -1px;
    border-radius: 10px;
  }
  .mini-player .mini-window .tools .time .custom_progress .progress_bar .progress_thumb {
    width: 18px;
    height: 18px;
    background-color: var(--bg-color);
    box-shadow: inset 0 0 0 5px var(--progress-color);
    position: absolute;
    left: calc(100% - 9px);
    top: -7px;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
  }
  .mini-player .mini-window .tools .time .custom_progress .progress_bar .progress_thumb:hover {
    box-shadow: inset 0 0 0 3px var(--progress-thumb-color);
  }
  .mini-player .mini-window .tools .time #end {
    width: 40px;
  }
  .mini-player .mini-window .tools .mini-time-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 5px;
    height: 40px;
  }
  .mini-player .mini-window .tools .mini-time-icons img {
    width: 22px;
    cursor: pointer;
  }
  .mini-player .mini-window .tools .mini-time-icons .bpf {
    display: flex;
    position: relative;
    top: -3px;
    justify-content: space-around;
    align-items: center;
    width: 130px;
  }
  .mini-player .mini-window .tools .mini-time-icons .bpf #plause {
    width: 35px;
    height: 35px;
  }
  .mini-player .mini-window .tools .mini-time-icons .sides {
    display: flex;
    position: relative;
    top: -2px;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
}/*# sourceMappingURL=Now_Playing.css.map */