.song-details{
    position: absolute;
    width: 100%;
    height: 100vh;
    left: 0;
    bottom: 0;
    z-index: 23;
    display: flex;
    color: var(--primary-text-color);
    align-items: center;
    justify-content: center;
    overflow: hidden;
    .details-container{
        background-color: var(--songlist-bg);
        pointer-events: all;
        width: 400px;
        z-index: 1;
        border: 1px solid black;
        border-radius: 5px;
        overflow: hidden;
        cursor: default;
    }
    h1{
        border-bottom: 1px solid black;
        background-color: var(--music-player-bg-color);
        padding: 10px;
        font-weight: 500;
    }
    .main-info{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        padding: 10px;
        .tile{
            h3{
                font-weight: 400
            }
            h4{
                font-weight: 300;
                user-select: text;
                cursor:text;
            }
            input{
                background-color: var(--right-bg-color);
                color: var(--primary-text-color);
                width: calc(100% - 20px);
                padding: 5px;
                text-decoration: none;
                border: 1px solid var(--primary-text-color);
                border-radius: 5px;
                outline: none;
            }
        }
    }
    .source{
        padding: 10px;
        overflow: hidden;
        border-top: 1px solid black;
        color: var(--primary-text-color);
        background-color: var(--music-player-bg-color);
        h2{
            font-size: 0.9em;
            font-weight: 400;
            user-select:text;
            cursor:text;
        }
        .form-buttons{
            display: flex;
            gap: 10px;
            padding: 10px;
            justify-content: space-between;
            button{
                padding: 5px;
                border: 1px solid gray;
                border-radius: 5px;
                width: 100%;
                background-color: var(--primary-button-bg-color);
                color: var(--primary-text-color);
                cursor: pointer;
                transition: .1s;
                font-size: 1em;
                &:hover{
                    background-color: var(--primary-button-bg-hover);
                }
            }
        }
    }
}
.song-form-overlay{
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}
@media (max-width: 400px) {
    .song-details{
        display: none;
    }
}