.light{
    --subtitle-text-color: #777;
    --songtile-card-bg-hover: #ddd;
    --songtile-shadow: #bbb;
}
.dark{
    --subtitle-text-color: #aaa;
    --songtile-card-bg-hover: #222;
    --songtile-shadow: #000;
}
.card{
    display: flex;
    flex-direction: column;
    width: 150px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 5px;
    cursor: default;
    transition: .1s ease-in;
    .pic{
        overflow: hidden;
        display: flex;
        align-items: center;
        width: 140px;
        height: 140px;
        border-radius: 5px;
        img{
            width: 140px;
            height: 140px;
            transition: .2s ease-in;
        }
    }
    .artists-page{
        border-radius: 50%;
    }
    .lower{
        padding: 5px;
        width: 100%;
        .title{
            color: var(--primary-text-color);
            overflow: hidden;
            text-wrap: nowrap;
            text-overflow: ellipsis;
        }
        .artist{
            color: var(--subtitle-text-color);
            overflow: hidden;
            text-wrap: nowrap;
            text-overflow: ellipsis;
        }
    }
    &:hover{
        background-color: var(--songtile-card-bg-hover);
        box-shadow: 0 0 5px 2px var(--songtile-shadow);
        .pic{
            img{
                scale: 1.1;
            }
        }
    }
}