.light{
    --sidebar-bg: #000;
    --sidebar-link-active-bg: #333;
    --sidebar-input-bg: #333;
    --sidebar-input-color: #fff;
    --sidebar-input-shadow: #fff;
}
.dark{
    --sidebar-bg: #000;
    --sidebar-input-bg: #333;
    --sidebar-link-active-bg: #333;
    --sidebar-input-color: #fff;
    --sidebar-input-shadow: #fff;
}
.sidebar{
    background-color: var(--sidebar-bg);
    color: #fff;
    padding: 10px 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    .profile{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .name{
            display: grid;
            grid-template-columns: 40px auto;
            gap: 10px;
            margin: 5px;
            align-items: center;
            justify-content: center;
            svg{
                color: #fff;
                border: none;
                scale: .7;
                border-radius: 5px;
                height: 36px;
                padding: 3px 0;
                position: relative;
                width: 100%;
                right: 15px;
                bottom: 7.5px;
                cursor: pointer;
                &:hover{
                    color: var(--sidebar-link-color);
                    background-color: var(--sidebar-link-active-bg);
                }
                &:active{
                    color: #fff;
                }
            }
            h1{
                font-size: 2em;
                position: relative;
                bottom: 10px;
                position: relative;
                right: 20px;
            }
        }
        img{
            height: 150px;
            width: 150px;
            border-radius: 50%;
        }
        .search{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            margin-bottom: 5px;
            form{
                input{
                    width: 100%;
                    padding: 5px 3px;
                    border: none;
                    outline: none;
                    color: var(--sidebar-input-color);
                    border-radius: 3px;
                    font-size: 1em;
                    background-color: var(--sidebar-input-bg);
                    box-shadow: inset 0 0 3px var(--sidebar-input-shadow);
                }
            }
            .search-button{
                color: #fff;
                border: none;
                padding: 5px;
                display: none;
                border-radius: 5px;
                margin: 5px 0;
                height: 30px;
                width: 40px;
                background-color: transparent;
                &:hover{
                    color: var(--sidebar-link-color);
                    background-color: var(--sidebar-link-active-bg);
                }
                .search-icon{
                    scale: 1.5;
                }
            }
        }
    }
    .sidebar-links{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow-y: scroll;
        overflow-x: hidden;
        height: 100%;
        &::-webkit-scrollbar{
            display: none;
        }
        h5{
            font-size: 1em;
        }
        .link{
            color: #fff;
            text-decoration: none;
            display: flex;
            gap: 10px;
            align-items: center;
            padding: 5px;
            border-radius: 5px;
            margin: 5px 0;
            transition: .1s ease-in;
            border-left: 5px solid transparent;
            &:hover{
                color: var(--sidebar-link-color);
                background-color: var(--sidebar-link-active-bg);
            }
        }
        .active{
            border-left: 5px solid var(--sidebar-link-color);
            color: var(--sidebar-link-color);
            background-color: var(--sidebar-link-active-bg);
        }
    }
}
@media (max-width: 700px) {
    .sidebar{
        .profile{
            .name{
                svg{
                    bottom: 0;
                    left: 0px;
                    width: 50px;
                }
                h1{
                    display: none;
                }
            }
            img{
                width: 50px;
                height: 50px;
            }
            .search{
                form{
                    input{
                        display: none;
                    }
                }
                .search-button{
                    display: block;
                }
            }
        }
        .sidebar-links{
            h5{
                display: none;
            }
        }
    }
    .expanded{
        width: 200px;
        .profile{
            .name{
                svg{
                    width: 100%;
                    left: -15px;
                    bottom: 7.5px;
                }
                h1{
                    display: block;
                }
            }
            img{
                width: 150px;
                height: 150px;
            }
            .search{
                form{
                    input{
                        display: block;
                    }
                }
                .search-button{
                    display: none;
                }
            }
        }
        .sidebar-links{
            h5{
                display: block;
            }
        }
    }
}