.light{
    --songs-nav-bg: #fff;
    --songs-nav-open-links: #000;
    --songs-nav-open-links-bg: #ddd;
}
.dark{
    --songs-nav-bg: #222;
    --songs-nav-open-links: #fff;
    --songs-nav-open-links-bg: #333;
}
.songs-nav{
    position: fixed;
    grid-template-columns: repeat(4, 1fr);
    display: grid;
    gap: 10px;
    padding: 50px;
    overflow-y: scroll;
    width: calc(100% - 200px);
    height: calc(100% - 195px);
    background-color: var(--songs-nav-bg);
    &::-webkit-scrollbar{
        display: none;
    }
    a{
        font-size: 1.5em;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-radius: 5px;
        transition: .2s ease-in;
        text-decoration: none;
    }
    .open{
        color: var(--songs-nav-open-links);
        cursor: pointer;
        &:hover{
            background-color: var(--songs-nav-open-links-bg);
        }
    }
    .closed{
        opacity: .15;
        cursor: default;
    }
}
@media (max-width: 700px) {
    .songs-nav{
        width: calc(100% - 50px);
    }
}