.musicPlayer{
    height: 100%;
    color: var(--primary-text-color);
    .top{
        width: 100vw;
        overflow: hidden;
        padding: 5px 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h5{
            font-weight: 400;
            cursor: default;
        }
        .custom_progress{
            border: 1px solid var(--primary-text-color);
            height: 8px;
            width: 100%;
            border-radius: 10px;
            position: relative;
            margin: 0 20px;
            padding: 1px;
            .progress_bar{
                background-color:  var(--primary-text-color);
                height: calc(100% - 2px);
                position: relative;
                top: 1px;
                margin: 0 2px;
                left: -1px;
                border-radius: 10px;
                .progress_thumb{
                    width: 18px;
                    height: 18px;
                    background-color:  var(--primary-text-color);
                    box-shadow: inset 0 0 0 5px orange;
                    position: absolute;
                    left: calc(100% - 9px);
                    top: -7px;
                    border-radius: 50%;
                    transition: .3s ease-in-out;
                    &:hover{
                        box-shadow: inset 0 0 0 3px var(--progress-thumb-color);
                    }
                }
            }
        }
    }
    .bottom{
        position: relative;
        padding: 0 10px;
        display: grid;
        grid-template-columns: 1fr 220px 1fr;
        align-items: center;
        gap: 10px;
        justify-content: space-between;
        .b-left{
            display: flex;
            gap: 10px;
            border-radius: 5px;
            transition: .3s ease-in-out;
            overflow: hidden;
            // change both later
            &:hover{
                background-color: gray;
                box-shadow: inset 0 0 5px var(--primary-text-color);
            }
            &:active{
                background-color: gray;
                box-shadow:  0 0 5px var(--primary-text-color);
            }
            img{
                margin: 3px;
                min-height: 63px;
                min-width: 63px;
                max-height: 63px;
                max-width: 63px;
                border-radius: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .text{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                padding: 5px 0;
                cursor: default;
                width: 100%;
                overflow: hidden;
                h5{
                    font-size: 1.1em;
                    font-weight: 400;
                    font-weight: 400;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    text-wrap: nowrap;
                }
            }
        }
        .b-center{
            width: 220px;
            display: flex;
            align-items: center;
            background-color: var(--music-player-bg-color);
            background-color: transparent;
            height: 100%;
            gap: 10px;
        }
        .locked{
            opacity: .3;
            pointer-events: none;
        }
        .b-right{
            display: flex;
            gap: 10px;
            justify-self: end;
        }
    }
    .icon{
        color: var(--primary-text-color);
        font-size: 1.2em;
        cursor: pointer;
    }
    @media (max-width: 600px) {
        .shuffle_icon, .fav_icon, .repeat_icon, .mini_icon{
            display: none;
        }
        .bottom{
            grid-template-columns: 1fr 100px 1fr;
            .b-center{
                width: 100px;
            }
        }
    }
}