.musicPlayer{
    height: 100%;
    color: var(--primary-text-color);
    .top{
        width: 100vw;
        overflow: hidden;
        padding: 5px 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h5{
            font-weight: 400;
            cursor: default;
        }
        .custom_progress{
            border: 1px solid var(--primary-text-color);
            height: 8px;
            width: 100%;
            border-radius: 10px;
            position: relative;
            margin: 0 20px;
            padding: 1px;
            .progress_bar{
                background-color:  var(--primary-text-color);
                height: calc(100% - 2px);
                position: relative;
                top: 1px;
                margin: 0 2px;
                left: -1px;
                border-radius: 10px;
                .progress_thumb{
                    width: 18px;
                    height: 18px;
                    background-color:  var(--primary-text-color);
                    box-shadow: inset 0 0 0 5px var(--sidebar-link-color);
                    position: absolute;
                    left: calc(100% - 12px);
                    top: -8px;
                    border-radius: 50%;
                    transition: .3s ease-in-out;
                    &:hover{
                        box-shadow: inset 0 0 0 3px var(--progress-thumb-color);
                    }
                }
            }
        }
    }
    .bottom{
        position: relative;
        padding: 0 10px;
        display: grid;
        grid-template-columns: 1fr 220px 1fr;
        align-items: center;
        gap: 10px;
        justify-content: space-between;
        height: 69px;
        .b-left{
            display: flex;
            gap: 10px;
            border-radius: 5px;
            transition: .3s ease-in-out;
            overflow: hidden;
            height: 69px;
            // change both later
            &:hover{
                background-color: gray;
                box-shadow: inset 0 0 5px var(--primary-text-color);
            }
            &:active{
                background-color: gray;
                box-shadow:  0 0 5px var(--primary-text-color);
            }
            img{
                margin: 3px;
                min-height: 63px;
                min-width: 63px;
                max-height: 63px;
                max-width: 63px;
                border-radius: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                transition: .5s;
            }
            .text{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                padding: 5px 0;
                padding-right: 20px;
                cursor: default;
                width: 600px;
                overflow: hidden;
                position: relative;
                transition: .5s;
                h5{
                    font-size: 1.1em;
                    font-weight: 400;
                    font-weight: 400;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    text-wrap: nowrap;
                }
            }
        }
        .lyrics-true{
            img, .text{
                transform: translateX(-70px);
            }
            img{
                opacity: 0;
            }
        }
        .b-center{
            width: 220px;
            display: flex;
            align-items: center;
            background-color: var(--music-player-bg-color);
            background-color: transparent;
            height: 100%;
            gap: 10px;
        }
        .locked{
            opacity: .3;
            pointer-events: none;
        }
        .b-right{
            display: flex;
            gap: 10px;
            justify-self: end;
            position: relative;
            .b-right-menu{
                z-index: 5;
                position: absolute;
                bottom: 30px;
                width: max-content;
                border: 1px solid black;
                background-color: var(--songlist-bg);
                border-radius: 5px;
                right: 0;
                .first{
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                }
                .last{
                    border-bottom-left-radius: 5px;
                    border-bottom-right-radius: 5px;
                }
                li{
                    cursor: default;
                    list-style-type: none;
                    padding: 5px;
                    font-size: 1em;
                    color: var(--primary-text-color);
                    a{
                        color: var(--primary-text-color);
                        cursor: default;
                    }
                    &:hover{
                        background-color: var(--songlist-bg-hover);
                    }
                }
            }
            .sub{
                position: relative;
                .sub-menu{
                    position: absolute;
                    bottom: 0;
                    left: -140px;
                    border: 1px solid black;
                    background-color: var(--songlist-bg);
                    border-radius: 5px;
                    overflow: hidden;
                    width: 140px;
                    display: none;
                    li{
                        padding-left: 10px;
                    }
                }
                &:hover{
                    .sub-menu{
                        display: block;
                    }
                }
            }
        }
    }
    .icon{
        color: var(--primary-text-color);
        font-size: 1.2em;
        cursor: pointer;
    }
    @media (max-width: 600px) {
        .shuffle_icon, .fav_icon, .repeat_icon, .mini_icon{
            display: none;
        }
        .bottom{
            grid-template-columns: 1fr 100px 1fr;
            .b-center{
                width: 100px;
            }
        }
    }
    .options-overlay{
        position: absolute;
        width: 100%;
        height: 100vh;
        left: 0;
        bottom: 0;
        z-index: 2;
        background-color: rgba(0,0,0,.05);
    }
    .song-details{
        position: absolute;
        width: 100%;
        height: 100vh;
        left: 0;
        bottom: 0;
        z-index: 2;
        display: flex;
        color: var(--primary-text-color);
        background-color: rgba(0, 0, 0, 0.2);
        align-items: center;
        justify-content: center;
        pointer-events: none;
        overflow: hidden;
        .details-container{
            background-color: var(--songlist-bg);
            pointer-events: all;
            width: 400px;
            border: 1px solid black;
            border-radius: 5px;
            overflow: hidden;
            cursor: default;
        }
        h1{
            border-bottom: 1px solid black;
            background-color: var(--music-player-bg-color);
            padding: 10px;
            font-weight: 500;
        }
        .main-info{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
            padding: 10px;
            .tile{
                h3{
                    font-weight: 400
                }
                h4{
                    font-weight: 300;
                }
            }
        }
        .source{
            padding: 10px;
            overflow: hidden;
            border-top: 1px solid black;
            color: var(--primary-text-color);
            background-color: var(--music-player-bg-color);
            h2{
                font-size: 0.9em;
                font-weight: 400;
                text-wrap: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}