.albums{
    color: var(--primary-text-color);
    section{
        padding: 5px;
        h2{
            cursor: pointer;
            transition: .2s ease-in;
            padding: 5px;
            margin-bottom: 5px;
            width: min-content;
            &:hover{
                color: var(--sidebar-link-color);
            }
        }
        .cards{
            display: flex;
            gap: 5px;
            flex-wrap: wrap;
        }
    }
}