.album-window{
    position: relative;
    overflow: hidden;
    nav{
        position: fixed;
        z-index: 5;
        top: 0;
        height: 90px;
        width: calc(100% - 200px);
        color: var(--txt-color);
        padding: 0 10px;
        left: 200px;
        background-color: var(--bg-color);
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: 0 0 10px var(--translucent-black);
        @media (max-width: 700px) {
            width: calc(100% - 70px);
            left: 70px;
        }
        h1{
            font-size: 1.8em;
        }
    }
    .album_card{
        $image-size: 150px;
        color: var(--txt-color);
        background-color: var(--song-list-bg);
        padding: 10px;
        border-radius: 10px;
        display: grid;
        grid-template-columns: $image-size auto;
        gap: 20px;
        margin: 20px 0;
        max-height: 170px;
        .img{
            width: $image-size;
            height: $image-size;
            overflow: hidden;
            border-radius: 5px;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .info{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            h1{
                font-size: 1.2em;
            }
            div{
                button{
                    background-color: var(--btn-bg-color);
                    border: none;
                    border-radius: 5px;
                    padding: 5px;
                    margin-right: 5px;
                    cursor: pointer;
                    &:active{
                        color: var(--txt-color)
                    }
                }
            }
        }
    }
    .songs-info{
        // display: flex;
        display: grid;
        grid-template-columns: 40px 2fr 2fr 1fr 50px;
        gap: 10px;
        margin-bottom: 5px;
        padding: 5px;
        border-radius: 5px;
        cursor: pointer;
        transition: .3s;
        height: 50px;
        align-items: center;
        color: var(--txt-color);
        &:hover{
            background-color: var(--song-list-bg);
        }
        .album_cover{
            position: relative;
            $size: 40px;
            width: $size;
            height: $size;
            overflow: hidden;
            transition: .3s;
            img{
                width: $size;
                height: $size;
            }
            div{
                position: absolute;
                display: none;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                justify-content: center;
                align-items: center;
            }
        }
        h1{
            font-size: 1em;
            margin-left: 5px;
            // width: 25%;
            font-weight: 300;
            text-wrap: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        &:hover{
            background-color: var(--song-list-bg);
            cursor: pointer;
            .album_cover{
                color: var(--bg-color);
                border-radius: 50%;
                div{
                    display: flex;
                    background-color: var(--img-brightness-color);
                }
            }
        }
    }
    .highlight{
        background-color: var(--now-playing) !important;
        color: var(--song-now-playing-color);
        border: 1px solid var(--txt-color);
        .album_cover{
            color: var(--now-playing-color) !important;
            div{
                background-color: var(--now-playing-shadow) !important;
            }
        }
    }
}